# Cache and logs (Symfony3)
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php

# Parameters
/app/config/parameters.yml
/app/config/parameters.ini

# Managed by Composer
/var/bootstrap.php.cache
/bin/*
!bin/console
!bin/symfony_requirements
/vendor/

# Assets and user uploads
/web/bundles/
/web/uploads/

# Assets managed by Bower
/web/assets/vendor/

# PHPUnit
/app/phpunit.xml
/phpunit.xml

# Build data
/build/

# Composer PHAR
/composer.phar
composer.lock

# Node packages
/node_modules/

# Sass cache
/.sass-cache/

# Documentation sphinx
/docs/build

# Capifony
app/config/deploy.rb
