set :application, "Mongobox V2"
set :domain,      "DOMAIN"
set :deploy_to,   "PATH"

set :app_path,    "app"
set :web_path, 	  "web"
set :var_path, 	  "var"
set :bin_path, 	  "bin"

set :symfony_console, fetch(:bin_path) + "/console"
set :symfony_console_path,  fetch(:bin_path) + "/console"
set :dump_assetic_assets, false


# The next 3 settings are lazily evaluated from the above values, so take care
# when modifying them
set :app_config_path, "app/config"
set :log_path, "var/logs"
set :cache_path, "var/cache"
set :sessions_path, "var/sessions"

set :branch,      "master"
set :repository,  "git@github.com:mongobox/mongoboxV2.git"
set :scm,         :git
# Or: `accurev`, `bzr`, `cvs`, `darcs`, `subversion`, `mercurial`, `perforce`, or `none`

set :deploy_via, :remote_cache
set :model_manager, "doctrine"
# Or: `propel`

role :web,        domain                         # Your HTTP server, Apache/etc
role :app,        domain, :primary => true       # This may be the same as your `Web` server

 
# General config stuff
set :keep_releases,	3
set :shared_files,      ["app/config/parameters.yml"] # This stops us from having to recreate the parameters file on every deploy.
set :shared_children,   [var_path + "/logs", web_path + "/documentation", "vendor"]

set :use_composer, true
set :permission_method, :acl

set :symfony_console_flags, "--no-debug"

# asset management
set :assets_install_path, "web"
set :assets_install_flags,  '--symlink'

# after first deployment you might want to change this to false. Setting to true will always install vendors each time
set :update_vendors,  true

# Confirmations will not be requested from the command line.
set :interactive_mode, false

# User details for the production server
set :user, "SERVER_USER"
set :use_sudo, false

set :writable_dirs,       [var_path + "/cache", var_path + "/logs", var_path + "/sessions"]
set :webserver_user,      "www-data"


ssh_options[:forward_agent] = true
ssh_options[:config]        = false

# Be more verbose by uncommenting the following line
logger.level = Logger::MAX_LEVEL

after "deploy:finalize_update" do
 
  desc "Install and run grunt"
  run "cd #{latest_release}; npm install --quiet"
  run "cd #{latest_release}; grunt prod --quiet"
end


# Slack notifications
require 'capistrano/slack'

set :deployer do
  name = `git config user.name`.strip
  name = `whoami`.strip if name == ''
  name
end

set :slack_token, 'TOKEN # comes from inbound webhook integration
set :slack_room, 'CHANNEL'
set :slack_subdomain, 'TEAM'
set :slack_emoji, ':shipit:'
set :slack_deploy_defaults, false # Provided tasks are weird, and hooks are quite absurd. Let's do it ourselves.

namespace :slack do
  task :starting do
    slack_connect "#{fetch(:deployer)} *started* deploying *#{fetch(:application)}*. :rocket:"
  end

  task :finished do
    slack_connect "#{fetch(:deployer)} *finished* deploying *#{fetch(:application)}*. :star2:"
  end
end

before 'deploy:update_code', 'slack:starting'
after 'deploy:restart', 'slack:finished'